@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  background: url(../assets/mobile/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: brightness(50%);
          backdrop-filter: brightness(50%);
  height: 100vh;
  margin: 0 auto;
}

main {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: white;
}

.card-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.5fr;
  align-items: end;
}
.card-container .quote-container {
  align-self: start;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  line-height: 1.5;
}
.card-container .quote-container .author-text {
  margin: 1em 0;
  font-weight: 700;
}
.card-container .hidden {
  display: none;
}
.card-container .load-quote-container {
  cursor: pointer;
}
.card-container .clock-container {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.card-container .clock-container .greeting-container {
  display: flex;
  gap: 0.8em;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.card-container .clock-container .time-container .time-text {
  font-size: 6.6rem;
  font-weight: 700;
}
.card-container .clock-container .location-container {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card-container .more-info-btn-container {
  margin-bottom: 1em;
}
.card-container .more-info-btn-container .info-btn {
  position: relative;
  width: 146px;
  padding: 1em;
  background: #ffffff;
  border-radius: 40px;
}
.card-container .more-info-btn-container .more-less-text {
  color: #303030;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em;
}
.card-container .more-info-btn-container .arrow-container {
  cursor: pointer;
  z-index: 100000;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translate(-50%, -50%);
  background: #000000;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-info-container {
  height: 90%;
  background: rgba(255, 255, 255, 0.7450980392);
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
.more-info-container .hr {
  display: none;
}
.more-info-container .tag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
.more-info-container .tag-container .tag-name {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.more-info-container .tag-container .tag-text {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 600px) {
  body {
    background: url(../assets/tablet/bg-image-daytime.jpg);
    background-size: cover;
  }
  .card-container .quote-container {
    justify-content: flex-start;
  }
  .card-container .clock-container .time-container .time-text {
    font-size: 10rem;
  }
  .more-info-container {
    grid-template-columns: 1fr 0.001fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "timezone hr day-week " "day-year hr week";
  }
  .more-info-container .hr {
    grid-area: hr;
    display: inline-block;
    border: 2px solid #c0c0c0;
  }
  .more-info-container .timezone {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: timezone;
  }
  .more-info-container .day-year {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: day-year;
  }
  .more-info-container .day-week {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: day-week;
  }
  .more-info-container .week {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: week;
  }
  .more-info-container .tag-container .tag-text {
    font-size: 2rem;
  }
}
@media (min-width: 1000px) {
  .card-container .clock-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .card-container .clock-container .more-info-btn-container {
    align-self: flex-end;
  }
  .card-container .more-info-container .tag-container .tag-text {
    font-size: 5.5rem;
  }
  .card-container body {
    background: url(../assets/desktop/bg-image-daytime.jpg);
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */