@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

@mixin flex(){
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    position: relative;
    background: url(../assets/mobile/bg-image-daytime.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(50%);
    height: 100vh;
    
    margin: 0 auto;
}

main{
    height: 100%;
    font-family: 'Inter', sans-serif;;
    font-size: 15px;
    color: white;
}


.card-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr .5fr;
    align-items: end;

    
    .quote-container{
        align-self: start;
        padding: 2em 5em;
        display: flex;
        justify-content: space-between;
        gap: 1em;
        line-height: 1.5;

        .author-text{
            margin: 1em 0;
            font-weight: 700;
        }
    }

    .hidden{
        display: none;
    }

    .load-quote-container{
        cursor: pointer;
    }

    .clock-container{
        padding: 5em;
        display: flex;
        flex-direction: column;
        gap:2em;
        .greeting-container{
            display: flex;
            gap: .8em;
            align-items: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .time-container{
            .time-text{
                font-size: 6.6rem;
                font-weight: 700;
            }
            
        }

        .location-container{
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    .more-info-btn-container{
        margin-bottom: 1em;
        .info-btn{
            position: relative;
            width: 146px;
            padding: 1em;
            background: #ffffff ;
            border-radius: 40px;
        }
        

        .more-less-text{
            color:#303030 ;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 1em;
        }
    
        .arrow-container{
            cursor: pointer;
            z-index: 100000;
            position: absolute;
            top: 50%;
            right: -10%;
            transform: translate(-50%, -50%);
            
            background:#000000 ;
            width: 40px;
            height: 40px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


.more-info-container{
    height: 90%;
    background: #ffffffbe;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    
    .hr{
        display: none;
    }
    .tag-container{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000000;
        
        .tag-name{
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        
        .tag-text{

            font-size: 1.5rem;
            font-weight: 700;
            }
    }
    
}


@media (min-width:600px) {
    body{
        background: url(../assets/tablet/bg-image-daytime.jpg);
        background-size: cover;
    }
    
    .card-container{
        .quote-container{
            justify-content: flex-start;
        }
        .clock-container{
            .time-container{
                .time-text{
                    font-size: 10rem;
                }
            }
        }
    }
    
    .more-info-container{
        grid-template-columns: 1fr .001fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        grid-template-areas: 
        "timezone hr day-week "
        "day-year hr week";


        .hr{
            grid-area: hr;
            display: inline-block;
            border: 2px solid #c0c0c0;
        }
        .timezone{
            @include flex;
            grid-area: timezone;
            
        }

        .day-year{
            @include flex;
            grid-area: day-year;
        }

        .day-week{
            @include flex;
            grid-area: day-week;
        }

        .week{
            @include flex;
            grid-area: week;
        }

        .tag-container{
            .tag-text{
                font-size: 2rem;
            }
        }
        
    }
}

@media (min-width:1000px){
    .card-container{
        .clock-container{
            flex-direction: row;
            justify-content: space-between;    

        .more-info-btn-container{
            align-self: flex-end;
            }
        }

        .more-info-container{
            .tag-container{
                .tag-text{
                    font-size: 5.5rem;
                }
    }
}
    
    body{
        background: url(../assets/desktop/bg-image-daytime.jpg);
        background-size: cover;
    }
}
}